* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f9f6f0;
  color: #241f1b;
}

.navbar {
  width: 100%;
  background: #f9f6f0;
  border-bottom: 1px solid #e5ddd2;
}

.navbar-container {
  max-width: 1300px;
  margin: auto;
  padding: 22px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  text-decoration: none;
  color: #4a1f25;
  font-family: Georgia, serif;
  font-size: 26px;
  letter-spacing: 3px;
}

.nav-links {
  display: flex;
  gap: 35px;
}

.nav-links a {
  text-decoration: none;
  color: #332a27;
  font-size: 14px;
}

.nav-links a:hover {
  color: #8b5e3c;
}

.nav-icons {
  display: flex;
  gap: 20px;
  font-size: 21px;
}

.nav-icons span {
  cursor: pointer;
}

.home {
  text-align: center;
  padding: 150px 20px;
}

.home h1 {
  font-family: Georgia, serif;
  font-size: 55px;
  color: #4a1f25;
}

.home p {
  margin-top: 15px;
  font-size: 18px;
  letter-spacing: 3px;
}